go 1.26.4

use (
	.
	./services/fraud-engine
	./services/bio-adn
	./services/entity-resolution
	./services/identity-provider
	./services/critical-runtime
	./services/vehicle-criminal-svc
	./services/vehicle-alert-svc
	./services/interpol-sync-svc
	./services/afis-svc
	./services/reso-svc
	./services/chef-svc
	./services/terr-svc
	./services/sanc-svc
	./services/siar-svc
	./services/biar-svc
	./services/mar-svc
	./services/port-svc
	./services/blan-svc
	./services/extors-svc
	./services/expl-svc
	./services/trafar-svc
	./services/sifr-svc
	./services/sltd-svc
	./services/blkl-svc
	./services/aero-svc
	./services/ucref-svc
	./services/crypt-svc
	./services/dipe-svc
	./services/trait-svc
	./services/enfl-svc
	./services/dpide-svc
	./services/vict-svc
	./services/sigeo-svc
	./services/sigdc-svc
	./services/rvin-svc
	./services/mvsm-svc
	./services/sisal-svc
	./services/corr-svc
	./services/sipci-svc
	./services/cybre-svc
	./services/ong-svc
	./services/fir-svc
	./services/sipep-svc
	./services/rdep-svc
	./services/opr-svc
)
