# Port d'écoute du serveur backend
PORT=5000

# Base de données MongoDB
MONGO_URI=mongodb://admin:secretpassword123@localhost:27017/snisid?authSource=admin

# Cache Redis
REDIS_URI=redis://localhost:6379

# Sécurité & Chiffrement
JWT_SECRET=your-jwt-secret
ENCRYPTION_KEY=32_byte_sovereign_encryption_key_ht # Clé AES-256 de 32 octets

# Mode de déploiement
NODE_ENV=development

# Intégrations d'API (Simulées / Haïti)
DIGICEL_API_KEY=mock_digicel_api_key_2026
NATCOM_API_KEY=mock_natcom_api_key_2026
MONCASH_MERCHANT_KEY=mock_moncash_merchant_key
LAJAN_CASH_KEY=mock_lajancash_key
